<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/footer_logo.svg" type="image/x-icon">
  <title>Propiedades en Subasta</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style_catalogo.css">

  <style>
    .filtros button {
      margin: 5px;
      padding: 10px 20px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      cursor: pointer;
    }

    .filtros button.active {
      background-color: #007bff;
      color: #fff;
    }
  </style>
</head>

<body>
  <header>
    <div class="logo"><img src="/img/SUBASTA-SUR-COLOR-ROJO-SIN-FONDO.png" alt=""></div>
    <nav>
      <a href="/">Inicio</a>

      <a href="/catalogo">Catalogo</a>
      <a href="/#contacto">Contáctenos</a>
    </nav>
    <div class="session">
      <% if (usuario) { %>
        <p class="d-flex align-items-center ">
          <button class="btn_menu ms-1" id="btn_menu">
            <i class="bi bi-list"></i>
          </button>
          <span>
            <%= usuario.nombre %>
          </span>
        <div class="menu_desplegable d-flex flex-column justify-content-between">
          <div>
            <div class="cabezera_menu d-flex justify-content-between">
              <h3>Subastas</h3>
              <button id="btn_close">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
            <ul>
              <li><a href="/catalogo">Catalogo</a></li>
            </ul>
          </div>
          <div class="perfil_user">
            <div class="d-flex flex-row">
              <i class="bi bi-person-bounding-box" style="font-size: 2.5rem; color: #fff; margin-right: 1rem;"></i>
              <div class="d-flex flex-column">
                <strong>Usuario</strong>
                <small>
                  <%= usuario.nombre %>
                </small>
                <a href="/logout" class="btn btn-danger btn-sm ms-2">Cerrar Sesión</a>
              </div>
            </div>
          </div>
          <% } else { %>
            <p class="ingresar">
              <span>
                <i class="bi bi-person"></i>
              </span>
              <span>
                <a href="/login">Ingresar</a>
              </span>

              <!-- <span>/</span>
              <span>
                <a href="/registro">Sign up</a>
              </span> -->
            </p>
            <% } %>
        </div>
    </div>
  </header>

  <!-- Header Image and Title -->
  <div class="header">
    <img src="/img/fondo_subastas.png" alt="Header Image">
    <div class="overlay">
      <h1 class="text-4xl">Propiedades en subasta</h1>
      <p class="mt-2">Es tu sueño el que estamos construyendo</p>
    </div>
  </div>


  <!-- Content -->
  <div class="container">

    <div class="content_filtro">
      <h2>TIPO DE PROPIEDAD</h2>
      <!-- Filtros -->
      <div class="filtros ">
        <form id="filterForm" action="/catalogo" method="GET">
          <button class="filtro" type="submit" name="categoria" value="" <%=!categoria ? 'class="active"' : '' %>>
            <p>
              Todas
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="30" viewBox="0 0 34 30" fill="none">
                  <g id="Vector" filter="url(#filter0_d_124_140)">
                    <path d="M14.6315 19.1383L10.1997 15.0758C9.93344 14.8318 9.93344 14.436 10.1997 14.1919L11.1639 13.3081C11.4302 13.064 11.8619 13.064 12.1281 13.3081L15.1136 16.0447L21.5082 10.1831C21.7745 9.93898 22.2062 9.93898 22.4724 10.1831L23.4367 11.0669C23.7029 11.311 23.7029 11.7067 23.4367 11.9508L15.5957 19.1383C15.3295 19.3824 14.8978 19.3824 14.6315 19.1383Z" fill="#757575" />
                  </g>
                  <defs>
                    <filter id="filter0_d_124_140" x="0" y="0" width="33.6362" height="29.3214" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                      <feOffset />
                      <feGaussianBlur stdDeviation="5" />
                      <feComposite in2="hardAlpha" operator="out" />
                      <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
                      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_124_140" />
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_124_140" result="shape" />
                    </filter>
                  </defs>
                </svg>
              </span>
            </p>
            <svg class="svg_todo" xmlns="http://www.w3.org/2000/svg" width="55" height="50" viewBox="0 0 32 32" fill="#757575" stroke="none">
              <path class="cls-1" d="M30,15a1,1,0,0,1-.58-.19L16,5.23,2.58,14.81a1,1,0,0,1-1.16-1.62l14-10a1,1,0,0,1,1.16,0l14,10A1,1,0,0,1,30,15Z" />
              <path class="cls-1" d="M5,9A1,1,0,0,1,4,8V4A1,1,0,0,1,5,3H9A1,1,0,0,1,9,5H6V8A1,1,0,0,1,5,9Z" />
              <path class="cls-1" d="M25,29H20a1,1,0,0,1-1-1V21H13v7a1,1,0,0,1-1,1H7a3,3,0,0,1-3-3V16a1,1,0,0,1,2,0V26a1,1,0,0,0,1,1h4V20a1,1,0,0,1,1-1h8a1,1,0,0,1,1,1v7h4a1,1,0,0,0,1-1V16a1,1,0,0,1,2,0V26A3,3,0,0,1,25,29Z" />
            </svg>

          </button>
          <button class="filtro" type="submit" name="categoria" value="departamento" <%=categoria==='departamento'
            ? 'class="active"' : '' %>>
            <p>
              Departamento
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="30" viewBox="0 0 34 30" fill="none">
                  <g id="Vector" filter="url(#filter0_d_124_140)">
                    <path d="M14.6315 19.1383L10.1997 15.0758C9.93344 14.8318 9.93344 14.436 10.1997 14.1919L11.1639 13.3081C11.4302 13.064 11.8619 13.064 12.1281 13.3081L15.1136 16.0447L21.5082 10.1831C21.7745 9.93898 22.2062 9.93898 22.4724 10.1831L23.4367 11.0669C23.7029 11.311 23.7029 11.7067 23.4367 11.9508L15.5957 19.1383C15.3295 19.3824 14.8978 19.3824 14.6315 19.1383Z" fill="#757575" />
                  </g>
                  <defs>
                    <filter id="filter0_d_124_140" x="0" y="0" width="33.6362" height="29.3214" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                      <feOffset />
                      <feGaussianBlur stdDeviation="5" />
                      <feComposite in2="hardAlpha" operator="out" />
                      <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
                      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_124_140" />
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_124_140" result="shape" />
                    </filter>
                  </defs>
                </svg>
              </span>
            </p>
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="55" height="50" viewBox="0 0 55 50" fill="none">
              <path d="M0 48.3404H2.90135M54.5455 48.3404H51.6441M51.6441 48.3404V27.0638H45.8414M51.6441 48.3404H42.3598M42.3598 48.3404V27.0638H43.5203M42.3598 48.3404H37.7176M37.7176 48.3404V8.44681H30.4642M37.7176 48.3404H17.4081M17.4081 48.3404V8.44681H23.2108M17.4081 48.3404H12.1857M12.1857 48.3404V27.0638H11.0251M12.1857 48.3404H2.90135M2.90135 48.3404V27.0638H8.70406M8.70406 27.0638V23.8723H11.0251V27.0638M8.70406 27.0638H11.0251M43.5203 27.0638V23.8723H45.8414V27.0638M43.5203 27.0638H45.8414M23.2108 8.44681V4.7234H27.2727M23.2108 8.44681H30.4642M30.4642 8.44681L30.5311 4.7234H28.4333M28.4333 4.7234V1H27.2727V4.7234M28.4333 4.7234H27.2727M20.8897 14.2979H33.6557M20.8897 20.6809H33.6557M20.8897 27.0638H33.6557M20.8897 33.4468H33.6557M20.8897 39.2979H33.6557" stroke="#757575" stroke-width="2" />
            </svg>
          </button>
          <button class="filtro" type="submit" name="categoria" value="casa_campo" <%=categoria==='casa_campo'
            ? 'class="active"' : '' %>>
            <p>
              Casa de Campo
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="30" viewBox="0 0 34 30" fill="none">
                  <g id="Vector" filter="url(#filter0_d_124_140)">
                    <path d="M14.6315 19.1383L10.1997 15.0758C9.93344 14.8318 9.93344 14.436 10.1997 14.1919L11.1639 13.3081C11.4302 13.064 11.8619 13.064 12.1281 13.3081L15.1136 16.0447L21.5082 10.1831C21.7745 9.93898 22.2062 9.93898 22.4724 10.1831L23.4367 11.0669C23.7029 11.311 23.7029 11.7067 23.4367 11.9508L15.5957 19.1383C15.3295 19.3824 14.8978 19.3824 14.6315 19.1383Z" fill="#757575" />
                  </g>
                  <defs>
                    <filter id="filter0_d_124_140" x="0" y="0" width="33.6362" height="29.3214" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                      <feOffset />
                      <feGaussianBlur stdDeviation="5" />
                      <feComposite in2="hardAlpha" operator="out" />
                      <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
                      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_124_140" />
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_124_140" result="shape" />
                    </filter>
                  </defs>
                </svg>
              </span>
            </p>
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="62" height="47" viewBox="0 0 62 47" fill="none">
              <path d="M1 45.1667H6.59809M60.0909 45.1667H53.8708M53.8708 45.1667V20.0789L58.8469 22.9298L51.3828 18.4885M53.8708 45.1667H48.8947M23.3923 1.83333L27.1244 4.05401M27.1244 4.05401V17.2281M27.1244 4.05401L45.7847 15.1574M27.1244 45.1667V17.2281M27.1244 45.1667H21.5263M27.1244 45.1667H31.4785M6.59809 45.1667V25.2105L1 27.4912L27.1244 17.2281M6.59809 45.1667H11.5742M45.7847 15.1574V6.39473H51.3828V18.4885M45.7847 15.1574L51.3828 18.4885M11.5742 45.1667V34.3333H21.5263V45.1667M11.5742 45.1667H21.5263M31.4785 45.1667V36.0439H41.4306M31.4785 45.1667H41.4306M48.8947 45.1667V36.0439H41.4306M48.8947 45.1667H41.4306M41.4306 45.1667V36.0439M11.5742 29.2017H21.5263M32.7225 17.2281C34.2399 16.1153 36.1811 16.1153 37.6986 17.2281C39.5954 18.6191 39.5954 21.5388 37.6986 22.9298C36.1811 24.0426 34.2399 24.0426 32.7225 22.9298C30.8257 21.5388 30.8257 18.6191 32.7225 17.2281Z" stroke="#757575" stroke-width="2" stroke-linecap="round" />
            </svg>
          </button>
          <button class="filtro" type="submit" name="categoria" value="casa" <%=categoria==='casa' ? 'class="active"'
            : '' %>>
            <p>
              Casa
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="30" viewBox="0 0 34 30" fill="none">
                  <g id="Vector" filter="url(#filter0_d_124_140)">
                    <path d="M14.6315 19.1383L10.1997 15.0758C9.93344 14.8318 9.93344 14.436 10.1997 14.1919L11.1639 13.3081C11.4302 13.064 11.8619 13.064 12.1281 13.3081L15.1136 16.0447L21.5082 10.1831C21.7745 9.93898 22.2062 9.93898 22.4724 10.1831L23.4367 11.0669C23.7029 11.311 23.7029 11.7067 23.4367 11.9508L15.5957 19.1383C15.3295 19.3824 14.8978 19.3824 14.6315 19.1383Z" fill="#757575" />
                  </g>
                  <defs>
                    <filter id="filter0_d_124_140" x="0" y="0" width="33.6362" height="29.3214" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                      <feOffset />
                      <feGaussianBlur stdDeviation="5" />
                      <feComposite in2="hardAlpha" operator="out" />
                      <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
                      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_124_140" />
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_124_140" result="shape" />
                    </filter>
                  </defs>
                </svg>
              </span>
            </p>
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="65" height="48" viewBox="0 0 65 48" fill="none">
              <path d="M2 46.5143H10.26M61.0909 46.5143H53.4663M53.4663 46.5143V22.6344M53.4663 46.5143H28.0508M53.4663 22.6344H61.0909L53.1486 16.81M53.4663 22.6344H10.26M10.26 22.6344H3.27077L32.4985 1.66666L45.2063 10.9857M10.26 22.6344V46.5143M10.26 46.5143H15.3431M15.3431 46.5143V43.0197H18.52M15.3431 46.5143H28.0508M18.52 43.0197V30.2061H24.8739V43.0197M18.52 43.0197H24.8739M24.8739 43.0197H28.0508V46.5143M45.2063 10.9857V5.16128H53.4663L53.1486 16.81M45.2063 10.9857L53.1486 16.81M32.4985 30.2061V37.1953H45.2063V30.2061H32.4985Z" stroke="#757575" stroke-width="2" stroke-linecap="round" />
            </svg>
          </button>
        </form>
      </div>
    </div>

    <div class="property-listing">
      <% subastas.forEach(subasta => { %>
      <div class="property-card mt-4">
        <a href="/subasta/<%= subasta.id %>">click</a>
        <div id="carouselExample<%= subasta.id %>" class="carousel slide slider">
          <div class="carousel-inner">
            <% subasta.imagenes.forEach((imagen, index) => { %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <img src="data:image/jpeg;base64,<%= imagen %>" class="d-block w-100" alt="Imagen de propiedad">
            </div>
            <% }) %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample<%= subasta.id %>" data-bs-slide="prev">
            <span class="img_flechas" aria-hidden="true">
              <img src="/img/back_flecha.svg" alt="">
            </span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample<%= subasta.id %>" data-bs-slide="next">
            <span class="img_flechas" aria-hidden="true">
              <img src="/img/next_flecha.svg" alt="">
            </span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="property-card-content">
          <div class="content_info">
            <div class="nombre_tipo">
              <h3><%= subasta.nombre_propiedad %></h3>
              <p><%= subasta.categoria.toUpperCase() %></p>
            </div>
            <p class="ubicacion"><%= subasta.direccion %></p>
            <p class="precio">Precio Base: <span class="price">US$<%= subasta.precio_base %></span></p>
          </div>
          <div class="features">
            <div class="imgenes">
              <img src="/img/baño.svg" alt="">
              <p><%= subasta.N_baños %></p>
            </div>
            <div class="imgenes">
              <img src="/img/cama.svg" alt="">
              <p><%= subasta.N_cuartos %></p>
            </div>
            <div class="imgenes">
              <img src="/img/cosina.svg" alt="">
              <p><%= subasta.N_cocina %></p>
            </div>
            <div class="imgenes">
              <img src="/img/garaje.svg" alt="">
              <p><%= subasta.N_cocheras %></p>
            </div>
            <div class="imgenes">
              <img src="/img/patio.svg" alt="">
              <p><%= subasta.patio === 'si' ? '1' : '0' %></p>
            </div>
          </div>
          <!-- Botón de Like en la vista general -->
          <div class="detalle_like">
            <a href="/subasta/<%= subasta.id %>" class="view-details-button">Ver detalles</a>
            <button class="like-button" data-subasta-id="<%= subasta.id %>">
              <i class="bi bi-heart-fill like-icon <%= subasta.liked_by_user ? 'like-filled' : 'd-none' %>"></i>
              <i class="bi bi-heart like-icon <%= subasta.liked_by_user ? 'd-none' : 'like-empty' %>"></i>
            </button>
          </div>
        </div>
      </div>
      <% }) %>
    </div>


  </div>




  <!-- SCRIPT -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const botonActivar = document.getElementById("btn_menu");
      const botonCerrar = document.getElementById("btn_close");
      const contenederMenu = document.getElementsByClassName("menu_desplegable")[0];

      botonActivar.addEventListener('click', () => {
        contenederMenu.classList.add("active");
      });

      botonCerrar.addEventListener('click', () => {
        contenederMenu.classList.remove("active");
      });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.like-button').forEach(button => {
        button.addEventListener('click', async () => {
          const subastaId = button.dataset.subastaId;

          try {
            const response = await fetch('/like', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                subasta_id: subastaId
              })
            });

            const data = await response.json();
            if (data.success) {
              // Actualizar el botón de like
              const heartFilledIcon = button.querySelector('.bi-heart-fill');
              const heartEmptyIcon = button.querySelector('.bi-heart');
              const likeCount = button.nextElementSibling;

              if (heartEmptyIcon.classList.contains('d-none')) {
                heartFilledIcon.classList.add('d-none');
                heartEmptyIcon.classList.remove('d-none');
                likeCount.textContent = parseInt(likeCount.textContent) - 1;
              } else {
                heartFilledIcon.classList.remove('d-none');
                heartEmptyIcon.classList.add('d-none');
                likeCount.textContent = parseInt(likeCount.textContent) + 1;
              }
            } else {
              console.error('Error al dar like:', data.message);
            }
          } catch (error) {
            console.error('Error en la solicitud:', error);
          }
        });
      });
    });
  </script>

</body>

</html>