<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FAVICON -->
  <link rel="shortcut icon" href="/img/footer_logo.svg" type="image/x-icon">
  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- BOOSTRAP SCRIPT -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <!-- BOOTSSTRAP ICON -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- ESTILOS -->
  <link rel="stylesheet" href="/css/style_home.css">
  <title>home</title>
</head>

<body>
  <!-- CABEZERA -->
  <header>
    <div class="logo"><img src="/img/SUBASTA-SUR-COLOR-ROJO-SIN-FONDO.png" alt=""></div>
    <nav>
      <a href="/">Inicio</a>
      <a href="/catalogo">Catalogo</a>
      <a href="#contacto">Contáctenos</a>
    </nav>
    <div class="session">
      <% if (usuario) { %>
        <p class="d-flex align-items-center ">
          <button class="btn_menu ms-1" id="btn_menu">
            <i class="bi bi-list"></i>
          </button>
          <span>
            <%= usuario.nombre %>
          </span>
        <div class="menu_desplegable d-flex flex-column justify-content-between">
          <div>
            <div class="cabezera_menu d-flex justify-content-between">
              <h3>Subastas</h3>
              <button id="btn_close">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
            <ul>
              <li><a href="/catalogo">Catalogo</a></li>
            </ul>
          </div>
          <div class="perfil_user">
            <div class="d-flex flex-row">
              <i class="bi bi-person-bounding-box" style="font-size: 2.5rem; color: #fff; margin-right: 1rem;"></i>
              <div class="d-flex flex-column">
                <strong>Usuario</strong>
                <small>
                  <%= usuario.nombre %>
                </small>
                <a href="/logout" class="btn btn-danger btn-sm ms-2">Cerrar Sesión</a>
              </div>
            </div>
          </div>
          <% } else { %>
            <p class="ingresar">
              <span>
                <i class="bi bi-person"></i>
              </span>
              <span>
                <a href="/login">Ingresar</a>
              </span>

              <!-- <span>/</span>
              <span>
                <a href="/registro">Sign up</a>
              </span> -->
            </p>
            <% } %>
        </div>
    </div>
  </header>

  <!-- BANNER -->
  <section class="banner" id="banner">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="/img/banner_slider1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/img/banner_slider2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/img/banner_slider3.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/img/banner_slider4.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-icon" aria-hidden="true">
          <i class="bi bi-chevron-left"></i>
        </span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-next-icon" aria-hidden="true">
          <i class="bi bi-chevron-right"></i>
        </span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- <div class="contenido">
      <h1>Invierte en tu futuro con nuestras subastas de inmuebles.</h1>
      <a href="#contacto">Contáctenos</a>
    </div> -->

  </section>

  <!-- CATEGORÍAS -->
  <section class="categoria" id="cartegoria">
    <h2>Navega por las categorías</h2>
    <div class="categorias d-flex flex-row">
      <a href="#" class="content_img">
        <div class="iconos_cuentas">
          <span class="icono">
            <img src="/img/icon_camioneta.png" alt="">
          </span>
          <span class="contador">
            30
          </span>
        </div>
        <span>
          Camionetas
        </span>
      </a>
      <a href="#" class="content_img">
        <div class="iconos_cuentas">
          <span class="icono">
            <img src="/img/icon_auto.png" alt="">
          </span>
          <span class="contador">
            30
          </span>
        </div>
        <span>
          Autos
        </span>
      </a>
      <a href="#" class="content_img">
        <div class="iconos_cuentas">
          <span class="icono">
            <img src="/img/icon_moto.png" alt="">
          </span>
          <span class="contador">
            30
          </span>
        </div>
        <span>
          Motos
        </span>
      </a>
      <a href="#" class="content_img d-flex justify-content-between">
        <div class="iconos_cuentas" style="margin-top: 7px; ">
          <span class="icono piezas">
            <img src="/img/icon_accesorios.png" alt="">
          </span>
          <span class="contador piesas">
            30
          </span>
        </div>
        <span>
          Piezas
        </span>
      </a>
    </div>
  </section>

  <!-- ABOUT -->
  <!-- <section class="about" id="about">
    <div class="image_social">
      <img src="/img/about.svg" alt="">
      <div class="social">
        <a href="">
          <img class="face" src="/img/face.svg" alt="">
        </a>
        <a href="">
          <img class="you" src="/img/youtube.svg" alt="">
        </a>
        <a href="">
          <img class="mail" src="/img/mail.svg" alt="">
        </a>
      </div>
    </div>
    <div class="info">
      <h2>Urbaniza Club</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur. Pellentesque tincidunt
        id mauris tellus feugiat gravida pulvinar viverra lacus. Vitae
        et scelerisque nunc cursus venenatis praesent sit lorem. Fermentum
        mi ligula tempus tristique lobortis aenean. Blandit risus ut id turpis.
        Vitae id vel suscipit felis. Morbi turpis diam in odio. Lorem nulla sodales
        etiam arcu elit. Convallis commodo nibh sed montes augue.
      </p>
      <div class="btn_about">
        <a href="#contacto">Contáctenos</a>
      </div>
    </div>
  </section> -->

  <!-- SUBASTAS MAS LIKEADAS -->
  <section class="subastas">
    <img class="fondo" src="/img/fodo_subastas.png" alt="">
    <div class="contenedor_subastass">
      <h2>Subastas esperadas</h2>
      <div class="content_card">
        <% subastas.forEach(subasta=> { %>
          <article class="card">
            <div class="card-img">
              <% if (subasta.imagenes && subasta.imagenes.length> 0) { %>
                <img src="data:image/jpeg;base64,<%= subasta.imagenes[0] %>" alt="Subasta Image">
                <% } else { %>
                  <img src="/img/casas.png" alt="Default Image">
                  <% } %>
            </div>
            <div class="project-info">
              <div class="flex flex-column">
                <div class="project-title">
                  <%= subasta.nombre_propiedad %>
                </div>
                <span class="tag">
                  <%= subasta.categoria %>
                </span>
              </div>
              <span class="lighter precio_base">
                <i class="bi bi-cash-stack"></i>
                <span>US$</span>
                <%= subasta.precio_base %>
              </span>
              <div class="detalle_like">
                <a href="/subasta/<%= subasta.id %>" class="view-details-button">Ver detalles</a>
                <span class="like-count">
                  <i class="bi bi-heart-fill">
                    <span>
                      <%= subasta.like_count %>
                    </span>
                  </i>
                </span>
              </div>
            </div>
          </article>
          <% }) %>
      </div>
      <div class="verMas">
        <a href="/catalogo">Ver catalogo</a>
      </div>

    </div>
  </section>

  <!-- COMENTARIOS -->
  <section>
    <div class="comentarios">
      <h2>Comentarios</h2>
      <div class="Testimonio">
        <button id="back">
          <img src="/img/back.svg" alt="Back">
        </button>
        <div class="comentarios-container">
          <% comentarios.forEach(comentario=> { %>
            <div class="comentario">
              <p>
                <%= comentario.comentario %>
              </p>
              <p>
                <% for (let i=0; i < comentario.rating; i++) { %>
                  <i class="bi bi-star-fill"></i>
                  <% } %>
                    <% for (let i=comentario.rating; i < 5; i++) { %>
                      <i class="bi bi-star"></i>
                      <% } %>
              </p>
            </div>
            <% }); %>
        </div>
        <button id="next">
          <img src="/img/next.svg" alt="Next">
        </button>
      </div>
    </div>
  </section>

  <!-- REDES -->
  <section class="redes_sociales">
    <img class="img_fondo" src="/img/fondo_sociales.png" alt="">
    <div class="contenedor_info_redes">
      <div class="redes">
        <div class="youtube">
          <a href="">
            <img src="/img/youtubec.svg" alt="">
          </a>
        </div>
        <div class="linea2">
          <div class="tiktok">
            <a href="">
              <img src="/img/tiktok.svg" alt="">
            </a>
          </div>
          <div class="faceboock">
            <a href="">
              <img src="/img/facebookc.svg" alt="">
            </a>
          </div>
          <div class="twiter">
            <a href="">
              <img src="/img/twiter.svg" alt="">
            </a>
          </div>
        </div>
        <div class="liena3">
          <div class="instagram">
            <a href="">
              <img src="/img/instagram.svg" alt="">
            </a>
          </div>
          <div class="chat">
            <a href="">
              <img src="/img/whatsapp.svg" alt="">
            </a>
          </div>
        </div>
      </div>
      <h2>Redes Sociales</h2>
    </div>

  </section>

  <!-- CONTACTANOS -->
  <section class="contacto" id="contacto">
    <div class="info_cont">
      <h2>Comentarios</h2>
      <div class="contactos">
        <ul>
          <li>
            <a href="">
              <img src="/img/map.svg" alt="">
              <p>
                <span>Av. Ejercito °N100</span> <br>
                <span>Arequipa - Perú</span>
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="/img/tel.svg" alt="">
              <p>+51 - 999999999</p>
            </a>
          </li>
          <li>
            <a href="">
              <img src="/img/maill.svg" alt="">
              <p>subastas@urbaniza.club</p>
            </a>
          </li>
        </ul>
      </div>

      <form action="/" method="post">
        <input class="inputs" type="text" name="nombre" id="" placeholder="NOMBRE COMPLETO">
        <textarea name="texto" id="" placeholder="COMENTARIO"></textarea>
        <div class="rating">
          <input type="radio" name="rating" id="star5" value="5">
          <label for="star5" title="5 stars"></label>
          <input type="radio" name="rating" id="star4" value="4">
          <label for="star4" title="4 stars"></label>
          <input type="radio" name="rating" id="star3" value="3">
          <label for="star3" title="3 stars"></label>
          <input type="radio" name="rating" id="star2" value="2">
          <label for="star2" title="2 stars"></label>
          <input type="radio" name="rating" id="star1" value="1">
          <label for="star1" title="1 star"></label>
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>
    <div class="mapa">
      <img src="/img/mapa.png" alt="">
    </div>
  </section>

  <!-- FOOTER -->
  <footer>
    <img class="img_footer" src="/img/footer.png" alt="">
    <div class="contenedor_superior">
      <div class="contet_footer">
        <img class="img_logo" src="/img/footer_logo.svg" alt="">
        <div class="redes_footer">
          <a href="">
            <img src="/img/face_footer.svg" alt="">
          </a>
          <a href="">
            <img src="/img/whatsapp_footer.svg" alt="">
          </a>
        </div>
        <a href="/admin/LoginAdminV" class="subastar">Quieres subastar tus propiedades <span>Click</span></a>
        <p>COPYRIGHT @ SUBASTAS.COM 2024</p>
      </div>
    </div>

  </footer>

  <!-- SCRIPTS -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const botonActivar = document.getElementById("btn_menu");
      const botonCerrar = document.getElementById("btn_close");
      const contenederMenu = document.getElementsByClassName("menu_desplegable")[0];

      botonActivar.addEventListener('click', () => {
        contenederMenu.classList.add("active");
      });

      botonCerrar.addEventListener('click', () => {
        contenederMenu.classList.remove("active");
      });
    });
  </script>

  <script>
    let currentSlide = 0;
    const slides = document.querySelectorAll('.comentario');
    const totalSlides = slides.length;
    const container = document.querySelector('.comentarios-container');

    document.getElementById('next').addEventListener('click', nextSlide);
    document.getElementById('back').addEventListener('click', prevSlide);

    function showSlide(index) {
      if (index >= totalSlides) {
        currentSlide = 0;
      } else if (index < 0) {
        currentSlide = totalSlides - 1;
      } else {
        currentSlide = index;
      }
      container.style.transform = 'translateX(' + (-currentSlide * 100) + '%)';
    }

    function nextSlide() {
      showSlide(currentSlide + 1);
      console.log("adelanta");

    }

    function prevSlide() {
      showSlide(currentSlide - 1);
      console.log("atras");

    }

    // Autoplay
    let autoPlayInterval = setInterval(nextSlide, 3000);

    // Pause autoplay on hover
    document.querySelector('.Testimonio').addEventListener('mouseover', () => {
      clearInterval(autoPlayInterval);
    });

    document.querySelector('.Testimonio').addEventListener('mouseout', () => {
      autoPlayInterval = setInterval(nextSlide, 3000);
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".like-button").on("click", function () {
        const $button = $(this);
        const subastaId = $button.data("subasta-id");

        // Enviar una solicitud al servidor para guardar el estado del like
        $.post("/like", {
          subasta_id: subastaId
        }, function (response) {
          if (response.success) {
            // Alternar la visibilidad de los íconos
            $button.find(".bi-heart-fill").toggleClass("d-none");
            $button.find(".bi-heart").toggleClass("d-none");
          } else if (response.redirect) {
            // Redirigir al usuario a la página de inicio de sesión
            window.location.href = response.redirect;
          } else {
            alert("Error al realizar la acción.");
          }
        }).fail(function (jqXHR) {
          if (jqXHR.status === 401) {
            // Redirigir al usuario a la página de inicio de sesión
            window.location.href = jqXHR.responseJSON.redirect;
          } else {
            alert("Error al realizar la acción.");
          }
        });
      });
    });
  </script>
</body>

</html>